*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgba(26, 128, 111, 0.781);
}

button:hover{
    background-color: rgb(26, 128, 111);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: rgba(26, 128, 111, 0.781); }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:  rgba(26, 128, 111, 0.781);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:  rgb(26, 128, 111);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#definiciones .container{
    text-align: center;
    padding: 200px 12px;
}

#etiquetas{
    background-color: rgba(207, 207, 203, 0.863);
    color: white;
    text-align: center;
}

#etiquetas .container{
    padding: 150px 12px;
}

#etiquetas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#etiquetas p{
    display: none;
}

#etiquetas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/etiquetahtml.jpeg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/etiquetacss.png");
}

#etiquetashtmlycss{
    background-color: rgb(30,30,30);
    color: white;
    text-align: left;
}

#etiquetashtmlycss .container{
    padding: 150px 12px;
}

#etiquetashtmlycss h2{
    margin-top: 0;
    font-size: 3.2em;
}

#ejercicios{
    background-color:bisque;
    color: white;
    text-align: center;
}

#ejercicios .container{
    padding: 150px 12px;
}

#ejercicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#ejercicios p{
    display: none;
    text-align: right;
}

#ejercicio1{
    background-color:bisque;
    color: black;
    text-align: left;
}

#ejercicio1 .container{
    text-align: left;
    padding: 150px 12px;
}

#ejercicio1 h2{
    margin-top: 0;
    font-size: 3.2em;
}

#ejercicio1 p{
    text-align: left;
}

#ejercicio1 .img-container{
    background-image: url("media/ejercicio1.png");
    background-size:contain;
    background-position: center center;
    height: 300px;
    width: 1600px; 
}

#ejercicio2{
    background-color:black;
    color: bisque;
    text-align: left;
}

#ejercicio2 .container{
    text-align: left;
    padding: 80px 12px;
}

#ejercicio2 h2{
    margin-top: 0;
    font-size: 3.2em;
}

#ejercicio2 p{
    text-align: left;
}

#ejercicio2 .img-container{
    background-image: url("media/ejercicio2.png");
    background-size:contain;
    background-position: center center;
    height: 400px;
    width: 700px; 
}

footer{
    background-color: rgb(54, 54, 54);
}

footer p{
    font-size: 0.8em;
    margin: 0;
    padding: 10px;
    color: rgb(100,100,100);
}

footer .container{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #definiciones .container{
        display: flex;
        justify-content: space-evenly;
    }

    #definiciones .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #definiciones h2{
        margin-top: 0px;
    }

    #definiciones .img-container{
        background-image: url("media/codigohtml.jpg");
        background-size: cover;
        background-position: center center;
        height: 1250px;
        width: 500px; 
    }

    #etiquetas .tipohtmlocss{
        display: flex;
        justify-content: center;
    }

    #etiquetas p{
        display: block;
        margin-bottom: 30px;
    }

    #etiquetas h2{
        font-size: 4em;
    }

    #etiquetas h3{
        margin-top: 0;
    }

    #etiquetas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/etiquetahtml.jpeg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/etiquetacss.png");
    }

    #ejercicios{
        background-color: rgb(100,100,100);
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }
       
    footer .container{
        justify-content: flex-end;
    }
}